.card-insert {
    display: flex;
    width: 24rem;
    height: 4rem;
    align-items: center;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    z-index: 100;
    background-color: $orange-light;
    position: fixed;
    right: 36px;
    bottom: 0;

}