#contact-form {
    background-color: rgba(244, 244, 244, 0.6);
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    flex-direction: column;
    display: none;

}

.form-content {
    align-items: center;
    padding: .5rem 2rem 2rem;
    margin: .5rem auto;
    width: 750px;
    max-width: 67rem;
    max-height: 90rem;
    border-radius: 0.3125rem;
    background-color: $orange-light;
    -webkit-animation: modalopen 1s;
            animation: modalopen 1s;
}

.form-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;

    &__heading {
        margin-bottom: 1.2rem;
        text-align: left;
        font-size: 3rem;
        color: $black;
    }

    &__close {
        color: $white;
        margin-top: 1rem;
        border: none;
        cursor: pointer;
        background-color: $orange-light;
        
        &:hover:focus {
            transform: scale(1.2);
        }
    }
}

form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    label {
        font-size: 1.75rem;
        color: $formColor;
        margin-bottom: 0.5rem;
        margin-top: 0.3rem;
        
        @include LargeDesktop {
            font-size: 1.65rem;
        }
        @include mediumDesktop {
           font-size: 1.5rem;
        } 
        @include largeMobileLandscape {
            font-size: 1.5rem;
        }
        @include mediumMobileLandscape {
            font-size: 1.375rem;
        }
    }
}

.contactData {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;

    &__input {
        height: 4.3rem;
        width: 100%;
        font-size: 1.3rem;
        padding: 1rem;
        border: none;
        border-radius: 0.3125rem;
    }

    &__email {
        
        @include mediumDesktop {
            margin-bottom: 22px;
        }
    }

    &__message {
        font-size: 1.5rem;
        line-height: 1.5;
        color: $black;
        background-color: transparent;
        text-align: left;
        
        @include mediumDesktop {
            font-size: 1rem;
        }
    }  
}

.text-area {
    height: 11rem;
    max-width: 100%;
    min-width: 100%;
    border-radius: 0.3125rem;
    padding: 1rem;
    border: none;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    
    @include LargeDesktop {
        max-height: 7rem;
    }
    @include mediumDesktop {
        max-height: 6rem;
    }
    @include mediumMobileLandscape {
        max-height: 5rem;
    }
}

.no-scroll {
    overflow: hidden;
 }