.dropDownMenu {
    margin: 0 100px;
    display: block;
    font-size: 1.125rem;

    @include tablette {
        font-size: 0.895rem;
    }

    @include largeMobile {
        display: none;
    }

    & span {
        font-weight: bold;
        font-size: 20px;
        color: $black;
    }
}

.menu {
    display: flex;
    align-items: baseline;
}

.dropDownMenu__button-wrapper {
    position: relative;
}

.dropDownBtn {
    width: 170px;
    border-radius: 5px;
    line-height: 1.4375rem;
    border: none;
    margin-left: 22px;
    height: 70px;
    text-align: left;
    padding: 0 20px;
    cursor: pointer;
    transition: color 0.6s;
    transition: background-color 0.6s;
    font-weight: bold;
    background-color: $primary-color;
    cursor: pointer;
    font-size: 1.175rem;
    color: $white;

    &:focus {
        outline: $orange-light thin dashed;

    }

    &:focus-visible {
        outline: thin dotted;

    }

    &:hover, 
    :focus {
        color: $black;
        background-color: $orange-light;
    }
}

#chevron-icon {
    height: 17px;
    width: 20px;
    position: absolute;
    pointer-events: none;
    right: 18px;
    top: 28px;
    z-index: 300;
    transition-duration: 0.5s;
}

.dropDownList {
    display: none;
    z-index: 1;
    transition: background-color 0.6s;
    background-color: $primary-color;
    width: 170px;
    border-radius: 5px;
    border: 5px solid $primary-color;
    position: relative;
    left: 15px;
    top: 0px;
}


.sort-list {
    display: block;
}

[role="option"] {
    border: none;
    background-color: $primary-color;
    font-size: 1.175rem;
    color: $white;
    padding: 1.5rem 1.25rem 1.5rem 1.25rem;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    
    &:hover, 
    :focus {
    color: $black;
    background-color: $orange-light;
    border: none;

    &:focus {
        outline: $orange-light thin dashed;
        border-radius: 5px;

    }

    &:focus-visible {
        outline: thin dotted;
        border-radius: 5px;
    }
    }
}


[role="option"] + [role="option"] {
    border-top: 2px solid $white;
}

.activeOption {
    background-color: $orange-light;
    color: $black;
}

[data-id="popularity"] {
    border-radius: 5px 5px 0 0;
}


[data-id="title"] {
    border-radius: 0 0 5px 5px;
}
