// Lightbox
.lightBox__media-link img,
.lightBox__media-link video{
    border-radius: 8px;
    color: #901C1C;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer; 
    box-shadow: 5px 5px 5px 0px #9f9f9f;
}

.lightBox__media-link {
    display: inline-block;
    align-items: center;
    background-color: $white;
    max-height: 98%;
}

.lightBox__img {
    max-width: 80vw;
    height: 85vh;
    -o-object-fit: cover;
       object-fit: cover;

}

video {
    width: auto;
    height: 30rem;
}

#lightbox {
    background-color: white;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    -webkit-animation: appear 0.5s forwards;
    animation: appear 0.5s forwards;
}

#lightBox__close {
    display: flex;
    flex-direction: row;
}

.lightBox__close {
    background-color: transparent;
    color: $primary-color;
    border: none;
    font-size: 50px;
    cursor: pointer;
    margin-left: -0.5rem;
    height: 4rem;
    transform: scale(1);
    transition: transform 0.5s;

    &:hover,
    :focus-visible,
    :focus {
        transition-duration: 0.5s;
        transform: scale(1.3);
        opacity: 0.6;
    }
}

.lightBox__title {
    font-size: 1.25rem;
    font-weight: 600;
    color: $primary-color;
}

.lightBox__content {
    padding: 0 30px;
    border-radius: 8px;
    color: #901C1C;
    font-size: 2rem;
    font-weight: 600;
}

.close-slider {
    display: flex;
    flex-direction: row;
}

.fa-angle-left,
.fa-angle-right {
    background-color: transparent;
    border: none;
    font-size: 40px;
    z-index: 11;
    color: $primary-color;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s;

    &:hover,
    :focus-visible,
    :focus {
        transition-duration: 0.5s;
        transform: scale(1.5);
        opacity: 0.6;
    }
}

.lightBox__next-arrow {
    margin-left: -1.6rem;
}


// Accessibility
#message-nav {
    display: flex;
    flex-direction: row;
}

#message-text {
    position: absolute;
    left: 37%;
    top: 1.5%;
    width: 28rem;
    color: $black;
    font-weight: bold;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    display: none;
}



