*,
*::before, 
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    background-color: $white;
}

h1 {
    margin: 0;
    font-weight: normal;
    font-size: $default-font-size;
    color: $primary-color;
}

h2 {
    font-weight: normal;
    font-size: $default-font-size;
    line-height: $line-height;
    text-align: center;
    color: $orange;
    margin-bottom: 8px;
}

p {
    font-weight: normal;
    text-align: center;
    color: $black;
}

a {
    display: block;
    text-decoration: none;

    &:visited {
        color: $orange-light;
    }

    &:hover,
    &:focus {
        h2 {
           color: $orange-light;
        }
    }
}

a,
button,
select {
    transition: color 0.3s;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
        color: $black;
    }
    &:focus-visible {
        outline: thin dotted;
    }
}

button,
select {
    font-weight: bold;
    color: $white;
    border: none;
    border-radius: 5px; 
    background-color: $primary-color;
    cursor: pointer;
    &:hover,
    &:focus { 
        background-color: $orange-light;
    }
}

li {
    list-style-type: none;
}