@-webkit-keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }
@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }

@-webkit-keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(1.1);
    }
  
    20% {
      transform: scale(0.9);
    }
  
    30% {
      transform: scale(1.2);
    }
  
    40% {
      transform: scale(0.9);
    }
  
    50% {
      transform: scale(1.05);
    }
  
    60% {
      transform: scale(0.95);
    }
  
    70% {
      transform: scale(1);
    }
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(1.1);
    }
  
    20% {
      transform: scale(0.9);
    }
  
    30% {
      transform: scale(1.2);
    }
  
    40% {
      transform: scale(0.9);
    }
  
    50% {
      transform: scale(1.05);
    }
  
    60% {
      transform: scale(0.95);
    }
  
    70% {
      transform: scale(1);
    }
}