/* Define color variables */
$white: #FFF;
$black: #000;
$grey: #525252;
$lightGrey: #FAFAFA;

$red: #901C1C;
$lightRed: #DB8876;
$orange: #D3573C;

/* Define size variables */

// Margins on Mobile
$mobileMargins: 20px; 

// Margins on Desktop
$desktopMargins: 100px;  

// Border radius of elements
$borderRadius: 5px;