/* HOMEPAGE BODY */

.main-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    overflow: visible;
    
    &--modal-open {
        overflow: hidden;
    }
}

/* HEADER */

.home-header {
    height: 8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    @include smallMobile {
        justify-content: center;
        align-content: center;
        gap: 1rem 3rem;
    }
    
    &--photographPage {
        @include mediumMobileLandscape {
            height: 6rem;
            justify-content: center;
        }
    }

    &__title {
        margin-right: 4.5rem;
        @include tablette {
            margin-right: 4.375rem;
            font-size: 1.7rem;
        }

        @include mediumMobileLandscape {
            margin-right: 3rem;
            font-size: 1.5rem;
        }

        @include largeMobile {
            margin-right: 1.8rem;
            font-size: 1.3rem;
        }

        @include mediumMobile {
            margin-right: 1.5rem;
        }

        @include smallMobile {
            margin: initial;
        }
    }
}


