// Photographer Banner 
.photographer-banner {
    background-color: #FAFAFA;
    height: 300px;
    margin: 50px 100px;
    padding: 3.5rem 3.125rem 2.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 00.3125rem;

    &__headline {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        order: 1;
    }

    &__name {
        font-size: $name-font-size;
        line-height: 1.5;
        color: $orange;
    }

    &__location {
        font-size: $location-font-size;
        line-height: 1.5;
        color: $primary-color;
    }

    &__tagline {
        font-size: $tagline-font-size;
        color: $grey;
    }

    &__picture {
        order: 3;

        @include mediumDesktop {
            order: 2;
        }

        @include largeMobileLandscape {
            order: -1;
            margin-bottom: 1rem;
        }
    }
}

// Contact Form
