.photographer-gallery {
    display: grid;
    margin: 3.6rem 4.5rem 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.5rem 6rem;
    overflow: hidden;

    @include xlargeMobileLandscape {
        -moz-column-gap: 3rem;
             column-gap: 3rem;
    }

    @include mediumDesktop {
        grid-template-columns: repeat(2, 1fr);
    }

    @include tablette {
        margin: 3.6rem 4.5rem 0;
    }

    @include xlargeMobileLandscape {
        -moz-column-gap: 3rem;
             column-gap: 3rem;
    }

    @include largeMobileLandscape {
        grid-template-columns: 1fr;
        colum-gap: 0;
    }
}

